@(projectForm: Form[Project], id: Long = 0)(implicit request: Request[Any])

@import helper._

@main {
    @form(action = if (id > 0) routes.Projects.update(id.toString()) else routes.Projects.create) {
        @inputText(field = projectForm("name"), args = '_label -> "Name")
        @inputText(field = projectForm("title"), args = '_label -> "Title")
        @textarea(field = projectForm("summary"), args = '_label -> "Summary", 'class -> "largeText")
        @textarea(field = projectForm("description"), args = '_label -> "Description", 'class -> "largeText")
        @textarea(field = projectForm("history"), args = '_label -> "History", 'class -> "largeText")
        <input type="submit" value="@{if (id > 0) "Update" else "Create"}"/>
    }
}